<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Wildlife Tracker</h1>
      <p>My Wildlife Tracker Program.</p>
    </div>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/animal">Animals</a>
      <a href="/endangered">Endangered Animals</a>
       <a href="/sighting">Sighting</a>

    </div>
    <div class="row">
      <div class="left-column"></div>
      <div class="right-column">
        <div class="field">
          <h3 class="jQueryHeader">Animals</h3>
          <p>

          </p>
          <p>Use below links to Navigate the program:</p>
          <ul class="jQueryUl">
            <li><a href="/animal/new">Add An Animal</a></li>
            <li><a href="/animal">View All Animals</a></li>
            <li><a href="/endangered/new">Add An Endangered Animal</a></li>
            <li><a href="/endangered/all">View All Endangered Animals</a></li>
          </ul>
{{!--           <img --}}
{{!--             src="/images/" --}}
{{!--             alt="image not found" --}}
{{!--             class="image" --}}
{{!--           /> --}}
        </div>
      </div>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
      <script src="/js/main.js"></script>
  </body>
</html>
